<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
<header>
<!--    <div class="col-md-6 offset-md-3" background="{% static 'imagenes/img_header.jpg' %}">-->
<!--        <img src="{% static 'imagenes/img_header.jpg' %}" width="100%">-->
<!--    </div>-->
</header>
<br>
<div class="container-fluid">
    <div class="col-md-6 offset-md-3" align="center">
        <h1 align="center">INICIAR SESIÓN</h1>
        <br>
        {% block content %}
          <form method="post">
            {% csrf_token %}
              <div>
            Usuario {{ form.username }}
                  </div>
            <br>
              <div>
            Contraseña {{ form.password }}
                  </div>
              <br>
            <button type="submit">Entrar</button>
          </form>
        {% endblock %}
        <br>
    </div>
</div>
</body>
</html>