<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <style>
    body {
     background-image: url({% static 'main/imagenes/fondo.jpg' %});
     background-repeat: no-repeat;
     background-size: 100%;
     }
    </style>
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}
</head>
<body>
<header>
<!--    <div class="col-md-6 offset-md-3" background="{% static 'imagenes/img_header.jpg' %}">-->
<!--        <img src="{% static 'imagenes/img_header.jpg' %}" width="100%">-->
<!--    </div>-->
</header>
<br>
<p align="center" style="font-size:8vw;text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;">PASTOREO<img src="{% static 'main/imagenes/logo_polyfarming.png' %}" width="5%"><img src="{% static 'main/imagenes/logo_life.png' %}" width="5%"></p>
<br>
<div class="container-fluid">
    <div class="col-md-4 offset-md-4 form-group rounded bg-white text-center">
        <h1 align="center" style="font-size:3vw;">INICIAR SESIÓN</h1>
<!--        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;-->
        <br>
        {% block content %}
          <form method="post">
              <div class="">
            {% csrf_token %}
              <div class="">
                  <label>Usuario</label>
                  {{ form.username }}
                  </div>
            <br>
              <div class="">
                  <label>Contraseña</label>
                  {{ form.password }}
                  </div>

            <button class="btn btn-success" type="submit">Entrar</button>
              </div>
          </form>
        {% endblock %}
        <br>
    </div>
</div>
</body>
</html>